@CHARSET "UTF-8";
html, body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	height: 100%;
}

div {
    margin: 15px;
}

.footer{
	text-align: center;
}

.nav-link {
	margin-left: 20px;
}

.navbar-collapse {
	margin: 0px;
}

