div {
    margin: 0px;
}

.btn-info {
	font-size: 1.3em;
    height: 4em;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    
}

.container {
	padding-bottom: 10px;
}

#main_button {
	font-size: 2em;
    height: 3.5em;
    width: 100%;
    margin-top: 15px;
}

.lead {
	font-size: 25px;
}

.wrapper {
	margin-top: 5%;
}

#homepage_layer {
	height: 90%;
}