.btn-info {
	margin-right: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 5px 15px;
}

#submitButton {
	margin-left: 5px;
	padding: 5px 15px;
    float: right;
}

select:invalid { 
	color: gray; 
}

#countryselector {
	margin-bottom: 0px;