<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
	<title>Rapid-Rapp Zeitrapportierungdetails</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/basic.css">
    <link rel="stylesheet" href="../css/zeitrapportierungDetail.css">
	
	<!-- <link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.css"> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css"> 
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker-standalone.css"> 
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>
	
</head>

<body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       <a class="navbar-brand" href="/">Rapid-Rapp</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
             <li class="nav-item active">
                <a class="nav-link" href="/zeitrapportierung">Zeitrapportierung <span class="sr-only">(current)</span></a>
             </li>
			 <li class="nav-item active">
                <a class="nav-link" href="/project">Projekte <span class="sr-only">(current)</span></a>
             </li>
			 <li class="nav-item active">
                <a class="nav-link" href="/rapobject">Rapportierungsobjekte <span class="sr-only">(current)</span></a>
             </li>
			 <li class="nav-item active">
                <a class="nav-link" href="/mitarbeiter">Mitarbeiter <span class="sr-only">(current)</span></a>
             </li>
			 <li class="nav-item active">
                <a class="nav-link" href="/kunde">Kunden <span class="sr-only">(current)</span></a>
             </li>
          </ul>
		</div>
    </nav>
    
    <div>
	<h1>Zeitrapportierungs-Manager</h1><br>
    <h2>Zeitrapportierung erstellen</h2>
    </div>
    <div>
	<form action="#" th:action="${postAction}" method="post" th:object="${zeitrapportierungDetail}">
	
		<input type="hidden" name="zeitrapportierungDetail.id" th:value="*{id}" /> 
		<div class="row">
			<div class="col">
              <label>Datum:</label>
		      <input type="date" class="form-control" id="day" required placeholder="YYYY-MM-TT" name="zeitrapportierungDetail.tag" th:value="*{tag}" />
		    </div>
		<div class="col">
		      <label>Anzahl Stunden:</label>
		      <input type="text" pattern="[0-9]+(.)[0-9]+" title="Keine Buchstaben. Format: '#.#', bspw. '5.5'" class="form-control" required placeholder="Anzahl Stunden" name="zeitrapportierungDetail.stunden" th:value="*{stunden}" />
        	</div>
        </div>
        <div class="row">
        	<div class="col">
		      <label>Mitarbeiter:</label>
		      <select class="form-control" required name="zeitrapportierungDetail.ma_id" th:value="*{ma_id}">
	  				<option th:each="mitarbeiter : ${ma_list}" th:text="${mitarbeiter.ma_name} + ' ' + ${mitarbeiter.ma_vorname}" th:value="${mitarbeiter.ma_id}" th:selected="${zeitrapportierungDetail.ma_id} == ${mitarbeiter.ma_id}"></option>
  			  </select>
		    </div>
		    <div class="col">
		      <label>Rapportierungsobjekt:</label>
		      <select class="form-control" required name="zeitrapportierungDetail.ro_id" th:value="*{ro_id}">
	  				<option th:each="rapobject : ${rapobject_list}" th:text="${rapobject.name}" th:value="${rapobject.id}" th:selected="${zeitrapportierungDetail.ro_id} == ${rapobject.id}"></option>
  			  </select>
        	</div>       	
        </div>

		<input class="btn btn-info" id="submitButton" type="submit" />
	
	</form>
	</div>
	
	
    <div>
	<a class="btn btn-info" href="/zeitrapportierung" role="button">Zurück</a>
	</div>
    
    <hr class="my-4">
    
	<div class="footer">
		<p>Copyright &copy;
		<script type="text/javascript">
  		document.write(new Date().getFullYear());
		</script>
		TOSE - Tamarillo</p>
	</div>
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed --> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
 </body>
</html>
