<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
	<title>Rapid-Rapp Zeitrapportierungs-Manager</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css"/>
	<link rel="stylesheet" href="../css/basic.css">
    <link rel="stylesheet" href="../css/zeitrapportierungList.css">
	
</head>

<body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       <a class="navbar-brand" href="/">Rapid-Rapp</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
             <li class="nav-item active">
                <a class="nav-link" href="/zeitrapportierung">Zeitrapportierung <span class="sr-only">(current)</span></a>
             </li>
			 <li class="nav-item active">
                <a class="nav-link" href="/project">Projekte <span class="sr-only">(current)</span></a>
             </li>
			 <li class="nav-item active">
                <a class="nav-link" href="/rapobject">Rapportierungsobjekte <span class="sr-only">(current)</span></a>
             </li>
			 <li class="nav-item active">
                <a class="nav-link" href="/mitarbeiter">Mitarbeiter <span class="sr-only">(current)</span></a>
             </li>
			 <li class="nav-item active">
                <a class="nav-link" href="/kunde">Kunden <span class="sr-only">(current)</span></a>
             </li>
          </ul>
		</div>
    </nav>
    
    <div>
	<h1>Zeitrapportierungs-Manager</h1><br>
	<h2>Zeitrapportierungsübersicht</h2>
    </div>
    
    <div>
	<table class="table" id="sort">
        <thead>
            <tr>
			 <!-- <th id="titleRow" scope="col">Zeitrapportierung-ID</th> -->
			 <th id="titleRow" scope="col">Datum</th>
			 <th id="titleRow" scope="col">Anzahl Stunden</th>
			 <th id="titleRow" scope="col">Mitarbeiter</th>
			 <th id="titleRow" scope="col">Rapportierungsobjekt</th>	 			 			 
			 <th id="editRow" scope="col">Bearbeiten</th>
			 <th id="editRow" scope="col">Löschen</th>
			</tr>
        </thead>
        <tbody>
        	<tr th:each="zeitrapportierung : ${list}">
			 <!-- <td th:text="${zeitrapportierung.getId()}">Hier steht die ID</td>  -->
			 <td th:text="${zeitrapportierung.getTag()}">Hier steht der Tag</td>
			 <td th:text="${zeitrapportierung.getStunden()}">Hier stehen die Stunden</td>
			 <td th:each="mitarbeiter : ${ma_list}" th:if="${zeitrapportierung.ma_id} == ${mitarbeiter.ma_id}" th:text="${mitarbeiter.ma_name} + ' ' + ${mitarbeiter.ma_vorname}">Hier steht der Mitarbeiter</td>
			 <td th:if="${zeitrapportierung.ma_id == 0}"><i>Kein Mitarbeiter hinterlegt</i></td>
			 
			 <td th:each="rapobject : ${rapobject_list}" th:if="${zeitrapportierung.ro_id} == ${rapobject.id}" th:text="${rapobject.name}">Hier steht das Rapportierungsobjekt</td>
			 <td th:if="${zeitrapportierung.ro_id == 0}"><i>Kein Rapportierungsobjekt hinterlegt</i></td>
			 
			 <td><a class="btn btn-default" id="editListButton" href="" th:href="${'/zeitrapportierung/edit?id=' + zeitrapportierung.getId()}"><img id="icons" src="../icons/edit_icon.svg"/></a></td>
			 <td><a class="btn btn-default" id="editListButton" data-toggle="modal" data-target="#exampleModal" th:href="'/zeitrapportierung/delete?id=' + ${zeitrapportierung.getId()}"><img id="icons" src="../icons/delete_icon.svg"/></a></td>
		  	</tr>
        </tbody>
    </table>
    </div>
    
    <div>
	   <br><a class="btn btn-info" href="/zeitrapportierung/edit">Neue Zeitrapportierung hinzufügen</a>
    </div>
    
    <hr class="my-4">
    
	<div class="footer">
		<p>Copyright &copy;
		<script type="text/javascript">
  		document.write(new Date().getFullYear());
		</script>
		TOSE - Tamarillo</p>
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Löschen bestätigen</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        Wollen Sie diese Zeitrapportierung wirklich löschen?</br>
	        Diese Aktion kann nicht rückgängig gemacht werden!
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
	        <button type="button" class="btn btn-danger" id="delete">Zeitrapportierung löschen</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed --> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
	<script src="../js/delete.js"></script>
	<script src="../js/sort.js"></script>
	
 </body>
</html>
